<%= form_with model: Post.find(params[:post_id]).comments.build, url: user_post_comments_path(current_user), method: :post do |form| %>
  <div class="form-group">
    <%= form.label :text, 'Comment text' %>
    <%= form.text_area :text %>
  
    <%= form.submit 'Add Comment', class: 'comment-submit' %>
  </div>
<% end %>
