* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
}

a {
  color: #66545e;
}

a:hover {
  text-decoration: none;
  color: #aa6f73;
}

/* font-color */

.font-light {
  color: #f6e0b5;
}

.font-light2 {
  color: #eea990;
}

.font-orchid {
  color: #aa6f73;
}

.font-gray {
  color: #a39193;
}

.font-dark {
  color: #66545e;
}

.no-text-decoration {
  text-decoration: none;
}

.users-container {
  display: flex;
  gap: 10px;
  margin: 10px;
}

.users-image {
  width: 100px;
  /* Set width to the same value as height */
  height: 100px;
  overflow: hidden;
  /* Ensure the content doesn't overflow */
  border-radius: 50%;
  /* Make it a circle */
}

.users-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.users-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid black;
  width: 100%;
}

.users-bio,
.users-posts,
.user-comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.comment-likes {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.button button {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.like-button,
.comment-submit {
  padding: 5px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button {
  margin: 10px;
  padding: 10px;
  background-color: #d1220f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.like-button:hover {
  background-color: #2980b9;
}

.delete-button:hover {
  background-color: #b71c1c;
}

/* session login */
.session-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 10px;
  padding: 20px 0;
  margin:  10px auto ;
  border-radius: 20px;
  color: #66545e;
  box-shadow: 5px 5px 10px 5px #f6e0b5;
}

.session-container h1 {
  margin-bottom: 20px;
  text-align: center;
}

.or {
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 0 5px;
  border: 1px solid #66545e;
  border-radius: 10px;
}

.or:before,
.or:after {
  content: "";
  display: inline-block;
  width: 200%;
  height: 1px;
  background-color: #66545e;
  position: absolute;
  top: 50%;
}

.or:before {
  right: 100%;
}

.or:after {
  left: 100%;
}

.login-btn {
  background-color: #aa6f73;
  border: none;
  border-radius: 7px;
  color: #fff;
}

.login-btn:hover {
  background-color: #66545e;
}

.login-page {
  margin-bottom: 40px;
}

.password-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.new-password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 40px;
}

.error-message {
  text-align: center;
  color: red;
}

